img {
  vertical-align: middle !important;
  border-radius: 8px !important;
  // width: 150px !important;
  width: 100px !important;
  height: auto !important;
}

// .is-breakable {
//   width: 15px;
//   word-wrap: break-word !important;
//   display:block !important;
// }
