<div class="col-12">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'PAGES.ModalTitles.NewUser' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='form' (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-6">
          <div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Names' | translate}}</label>
              <input type="text" class="form-control" formControlName='nombres'>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.LastNames' | translate}}</label>
              <input type="text" class="form-control" formControlName='apellidos'>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.User' | translate}}</label>
              <input type="text" class="form-control" formControlName='username'>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Password' | translate}}</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.ConfirmPassword' | translate}}</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Phone' | translate}}</label>
              <input type="text" class="form-control" formControlName='telefono'>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Email' | translate}}</label>
              <input type="text" class="form-control" formControlName='email'>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Profile' | translate}}</label>
              <select class="form-control form-control-sm" formControlName='idPerfil'>
                <option value="">{{'PAGES.DefaultListItems.Profile' | translate}}</option>
                <option *ngFor="let perfil of perfiles$ | async" [ngValue]="perfil.id">{{perfil.descripcion}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Provider' | translate}}</label>
              <select class="form-control form-control-sm" formControlName='idProveedor'>
                <option value="">{{'PAGES.DefaultListItems.Provider' | translate}}</option>
                <option *ngFor="let proveedor of proveedores$ | async" [ngValue]="proveedor.id">{{proveedor.descripcion}}
                </option>
              </select>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-label" for="exampleCheck1">Check me out</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')">{{'PAGES.Buttons.Cancel' | translate}}
    </button>
    <button type="button" class="btn btn-outline-primary"
      (click)="activeModal.close('Close click')">{{'PAGES.Buttons.Save' | translate}}
    </button>
  </div>
</div>
