<div class="col-12">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'PAGES.ModalTitles.NewUser' | translate}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]='form' (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-6">
          <div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Names' | translate}}</label>
              <input type="text" class="form-control" formControlName='nombres' [ngClass]="{ 'is-invalid': isInvalid(ctrls.nombres) }" >
              <div *ngIf="isInvalid(ctrls.nombres)" class="invalid-feedback">
                {{getErrorMessage(ctrls.nombres)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.LastNames' | translate}}</label>
              <input type="text" class="form-control" formControlName='apellidos' [ngClass]="{ 'is-invalid': isInvalid(ctrls.apellidos) }">
              <div *ngIf="isInvalid(ctrls.apellidos)" class="invalid-feedback">
                {{getErrorMessage(ctrls.apellidos)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.User' | translate}}</label>
              <input type="text" class="form-control" formControlName='username' [ngClass]="{ 'is-invalid': isInvalid(ctrls.username) }">
              <div *ngIf="isInvalid(ctrls.username)" class="invalid-feedback">
                {{getErrorMessage(ctrls.username)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Password' | translate}}</label>
              <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': isInvalid(ctrls.password) }">
              <div *ngIf="isInvalid(ctrls.password)" class="invalid-feedback">
                {{getErrorMessage(ctrls.password)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.ConfirmPassword' | translate}}</label>
              <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': isInvalid(ctrls.confirmPassword) }">
              <div *ngIf="isInvalid(ctrls.confirmPassword)" class="invalid-feedback">
                {{getErrorMessage(ctrls.confirmPassword)}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Phone' | translate}}</label>
              <input type="text" class="form-control" formControlName='telefono' [ngClass]="{ 'is-invalid': isInvalid(ctrls.telefono) }">
              <div *ngIf="isInvalid(ctrls.telefono)" class="invalid-feedback">
                {{getErrorMessage(ctrls.telefono)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Email' | translate}}</label>
              <input type="text" class="form-control" formControlName='email' [ngClass]="{ 'is-invalid': isInvalid(ctrls.email) }">
              <div *ngIf="isInvalid(ctrls.email)" class="invalid-feedback">
                {{getErrorMessage(ctrls.email)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Profile' | translate}}</label>
              <select (change)="onPerfilChange($event)" class="form-control form-control-sm" formControlName='idPerfil' [ngClass]="{ 'is-invalid': isInvalid(ctrls.idPerfil) }">
                <option value="">{{'PAGES.DefaultListItems.Profile' | translate}}</option>
                <option *ngFor="let perfil of perfiles$ | async" [ngValue]="perfil.id">{{perfil.descripcion}}</option>
              </select>
              <div *ngIf="isInvalid(ctrls.idPerfil)" class="invalid-feedback">
                {{getErrorMessage(ctrls.idPerfil)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Provider' | translate}}</label>
              <select (change)="onProveedorChange($event)" class="form-control form-control-sm" formControlName='idProveedor' [ngClass]="{ 'is-invalid': isInvalid(ctrls.idProveedor) }">
                <option value="">{{'PAGES.DefaultListItems.Provider' | translate}}</option>
                <option *ngFor="let proveedor of proveedores$ | async" [ngValue]="proveedor.id">
                  {{proveedor.descripcion}}
                </option>
              </select>
              <div *ngIf="isInvalid(ctrls.idProveedor)" class="invalid-feedback">
                {{getErrorMessage(ctrls.idProveedor)}}
              </div>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-label" for="exampleCheck1">Check me out</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close()">{{'PAGES.Buttons.Cancel' | translate}}
    </button>
    <button type="button" class="btn btn-outline-primary"
      (click)="ok()" [disabled]="form.invalid">{{'PAGES.Buttons.Save' | translate}}
    </button>
  </div>
</div>
