<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <!--weather card-->
    <div class="card card-weather">
      <div class="card-body">
        <div>
          <h3>{{ 'PAGES.Home.Welcome' | translate }}</h3>
          <p class="text-gray">
            {{ 'PAGES.Home.Description' | translate }}
          </p>
        </div>
        <!-- <div>
          <div class="mr-auto">
            <h4 class="display-3">21
              <span class="symbol">&deg;</span>C</h4>
            <p>
              Mostly Cloudy
            </p>
          </div>
        </div> -->
      </div>
    </div>
    <!--weather card ends-->
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <div>
            <h4>{{ 'PAGES.Home.People' | translate }}</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ 'PAGES.Home.People_l1' | translate }}</li>
              <li class="list-group-item">{{ 'PAGES.Home.People_l2' | translate }}</li>
              <li class="list-group-item">{{ 'PAGES.Home.People_l3' | translate }}</li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <div>
            <h4>{{ 'PAGES.Home.News' | translate }}</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ 'PAGES.Home.News_l1' | translate }}</li>
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          <div>
            <h4>{{ 'PAGES.Home.Geofences' | translate }}</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ 'PAGES.Home.Geofences_l1' | translate }}</li>
              <li class="list-group-item">{{ 'PAGES.Home.Geofences_l2' | translate }}</li>
              <li class="list-group-item">{{ 'PAGES.Home.Geofences_l3' | translate }}</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
