<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h3 class="text-center mb-4">Establezca su contraseña por favor</h3>
        <div class="auto-form-wrapper">
          <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">

            <div>
              <h4 class="text-center mb-4">Usuario: {{username}}</h4>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="password" [(ngModel)]="password" name="password" required #passwordVar="ngModel" [ngClass]="{ 'is-invalid': isInvalid(passwordVar) }">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-check-circle"></i>
                  </span>
                </div>
                <div *ngIf="isInvalid(passwordVar)" class="invalid-feedback">
                  {{getErrorMessage(passwordVar)}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Confirmar password" [(ngModel)]="confirmPassword" name="confirmPassword" required #confirmPasswordVar="ngModel" [ngClass]="{ 'is-invalid': isInvalid(confirmPasswordVar) }">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-check-circle"></i>
                  </span>
                </div>
                <div *ngIf="isInvalid(confirmPasswordVar)" class="invalid-feedback">
                  {{getErrorMessage(confirmPasswordVar)}}
                </div>
              </div>
            </div>

            <div class="form-group">
              <button *ngIf="!procesando" [disabled]="f.invalid" class="btn btn-primary submit-btn btn-block">Establecer contraseña</button>
              <button *ngIf="procesando" [disabled]="true" class="btn btn-primary submit-btn btn-block">
                <i class="fa fa-spin fa-sync"></i>
                Espere...
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->
