<div class="col-12 card">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{formTitle | translate}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]='form' (keydown.enter)="$event.preventDefault()">
      <div class="row">
        <div class="col-md-6">
          <div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Profile' | translate}}</label>
              <select class="form-control form-control-sm" formControlName='tipoComunicador'
                [ngClass]="{ 'is-invalid': isInvalid(ctrls.tipoComunicador) }">
                <option value="">{{'PAGES.DefaultListItems.Profile' | translate}}</option>
                <option *ngFor="let tipoComunicador of tipos" [ngValue]="tipoComunicador.id">{{tipoComunicador.descripcion}}</option>
              </select>
              <div *ngIf="isInvalid(ctrls.tipoComunicador)" class="invalid-feedback">
                {{getErrorMessage(ctrls.tipoComunicador)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Partitions' | translate}}</label>
              <input type="text" class="form-control" formControlName='particiones'
                [ngClass]="{ 'is-invalid': isInvalid(ctrls.particiones) }">
              <div *ngIf="isInvalid(ctrls.particiones)" class="invalid-feedback">
                {{getErrorMessage(ctrls.particiones)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Latitude' | translate}}</label>
              <input type="text" class="form-control" formControlName='latitud' #latitud
                [ngClass]="{ 'is-invalid': isInvalid(ctrls.latitud) }">
              <div *ngIf="isInvalid(ctrls.latitud)" class="invalid-feedback">
                {{getErrorMessage(ctrls.latitud)}}
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">{{'PAGES.Labels.Longitude' | translate}}</label>
              <input type="text" class="form-control" formControlName='longitud' #longitud
                [ngClass]="{ 'is-invalid': isInvalid(ctrls.longitud) }">
              <div *ngIf="isInvalid(ctrls.longitud)" class="invalid-feedback">
                {{getErrorMessage(ctrls.longitud)}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <agm-map (mapClick)="agregarMarcador($event.coords)" [latitude]="+(latitud.value)" [longitude]="+(longitud.value)"
              [fullscreenControl]='true' [zoom]=15>
              <agm-marker [latitude]="+(latitud.value)" [longitude]="+(longitud.value)">
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close()">{{'PAGES.Buttons.Cancel' | translate}}
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="ok()"
      [disabled]="form.invalid">{{'PAGES.Buttons.Save' | translate}}
    </button>
  </div>
</div>
