<div class="col-12 card">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{formTitle | translate}}</h4>
  </div>
  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="{{'PAGES.Labels.Customer' | translate}}">
        <ng-template ngbTabContent>
          <form [formGroup]='customerForm' (keydown.enter)="$event.preventDefault()">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="form-group">
                    <label class="form-label">{{'PAGES.Labels.HolderDocumentNumber' | translate}}</label>
                    <input type="text" min="0" class="form-control" formControlName='nroDocumento'
                      [ngClass]="{ 'is-invalid': isInvalid(custCtrls.nroDocumento) }">
                    <div *ngIf="isInvalid(custCtrls.nroDocumento)" class="invalid-feedback">
                      {{getErrorMessage(custCtrls.nroDocumento)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{'PAGES.Labels.HolderNames' | translate}}</label>
                    <input type="text" class="form-control" formControlName='nombres'
                      [ngClass]="{ 'is-invalid': isInvalid(custCtrls.nombres) }">
                    <div *ngIf="isInvalid(custCtrls.nombres)" class="invalid-feedback">
                      {{getErrorMessage(custCtrls.nombres)}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">{{'PAGES.Labels.HolderPhone' | translate}}</label>
                  <input type="text" class="form-control" formControlName='telefono'
                    [ngClass]="{ 'is-invalid': isInvalid(custCtrls.telefono) }">
                  <div *ngIf="isInvalid(custCtrls.telefono)" class="invalid-feedback">
                    {{getErrorMessage(custCtrls.telefono)}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{'PAGES.Labels.HolderLastNames' | translate}}</label>
                  <input type="text" class="form-control" formControlName='apellidos'
                    [ngClass]="{ 'is-invalid': isInvalid(custCtrls.apellidos) }">
                  <div *ngIf="isInvalid(custCtrls.apellidos)" class="invalid-feedback">
                    {{getErrorMessage(custCtrls.apellidos)}}
                  </div>
                </div>

              </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="{{'PAGES.Labels.Holder' | translate}}">
        <ng-template ngbTabContent>
          <form [formGroup]='customerForm' (keydown.enter)="$event.preventDefault()">
            <div class="row">
              <div class="col-md-6">
                <div>
                  <div class="form-group">
                    <label class="form-label">{{'PAGES.Labels.HolderDocumentNumber' | translate}}</label>
                    <input type="text" min="0" class="form-control" formControlName='nroDocumento'
                      [ngClass]="{ 'is-invalid': isInvalid(custCtrls.nroDocumento) }">
                    <div *ngIf="isInvalid(custCtrls.nroDocumento)" class="invalid-feedback">
                      {{getErrorMessage(custCtrls.nroDocumento)}}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">{{'PAGES.Labels.HolderNames' | translate}}</label>
                    <input type="text" class="form-control" formControlName='nombres'
                      [ngClass]="{ 'is-invalid': isInvalid(custCtrls.nombres) }">
                    <div *ngIf="isInvalid(custCtrls.nombres)" class="invalid-feedback">
                      {{getErrorMessage(custCtrls.nombres)}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">{{'PAGES.Labels.HolderPhone' | translate}}</label>
                  <input type="text" class="form-control" formControlName='telefono'
                    [ngClass]="{ 'is-invalid': isInvalid(custCtrls.telefono) }">
                  <div *ngIf="isInvalid(custCtrls.telefono)" class="invalid-feedback">
                    {{getErrorMessage(custCtrls.telefono)}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">{{'PAGES.Labels.HolderLastNames' | translate}}</label>
                  <input type="text" class="form-control" formControlName='apellidos'
                    [ngClass]="{ 'is-invalid': isInvalid(custCtrls.apellidos) }">
                  <div *ngIf="isInvalid(custCtrls.apellidos)" class="invalid-feedback">
                    {{getErrorMessage(custCtrls.apellidos)}}
                  </div>
                </div>

              </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="activeModal.close()">{{'PAGES.Buttons.Cancel' | translate}}
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="ok()"
      [disabled]="customerForm.invalid">{{'PAGES.Buttons.Save' | translate}}
    </button>
  </div>
</div>
